@model IEnumerable<RomanceCard>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Romance Table</h4>
                <a class="btn btn-dribbble" asp-controller="Romance" asp-action="Create">Create</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>
                                        <img src="~/assets/images/@item.CardImage" />
                                    </td>
                                    <td>
                                        @item.CardTitle
                                    </td>
                                    <td>
                                        @item.CardDesc
                                    </td>

                                    <td>
                                        <a class="btn btn-danger" asp-controller="Romance" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        <a class="btn btn-behance" asp-controller="Romance" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-secondary" asp-controller="Romance" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

